<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------<title> Website Layout | CodingLab</title>------>
    <link rel="stylesheet" th:href="@{/css/login_style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title th:text="${title}">####</title>
</head><body>

<div class="login-form">
    <div class="text">
        LOGIN
    </div>
    <form th:action="@{/login}" method="post" th:object="${user}">
        <div class="field">
            <div class="fas fa-envelope"></div>
            <input type="text" placeholder="Email or Phone" name="username">
        </div>
        <div class="field">
            <div class="fas fa-lock"></div>
            <input type="password" placeholder="Password" name="password">
        </div>
        <button>LOGIN</button>
        <div class="link">
            Not a member?
            <a th:href="@{/signup}" href="#">Signup now</a>
        </div>
    </form>
</div>

</body>
</html>