<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <link th:href="@{/css/signup_style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- Body of Form starts -->
<div id="login-box">
    <div class="left">
        <h1>Sign up</h1>
        <form th:action="@{/registerUser}" method="post" th:object="${user}" action="#">

<!--            <input class="form_in" type="text" name="name" placeholder="Name"/>-->

            <input th:value="${user.email}" class="form_in" type="email" name="email" placeholder="E-mail"/>

            <input th:value="${user.password}" class="form_in" type="password" name="password" placeholder="Password"/>

<!--            <input class="form_in" type="password" name="password2" placeholder="Retype password"/>-->

            <button class="signup-btn">Sign me up</button>

        </form>


    </div>

    <div class="right">
        <h1 class="loginwith">Sign in with</h1>

        <div>
            <div class="right_content">
                <button class="social-signin facebook">Log in with facebook</button>
                <button class="social-signin twitter">Log in with Twitter</button>
                <button class="social-signin google">Log in with Google+</button>
            </div>
        </div>


    </div>
    <div class="or">OR</div>
</div>
<!--Body of Form ends--->
</body>
</html>
