<!DOCTYPE html>
<html lang="en" th:replace="dummy_admins/admin_base::base_fragment(~{::section})">
<section class="add-product-body">
    <form class="add-product-form" action="#" th:action="@{/admin/add-categories}" method="post"
          th:object="${category}">
        <input type="hidden" name="id" th:field="${category.id}"/>
        <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name" required th:field="${category.name}" placeholder="Enter new category"
                   id="name"/>
        </div>

        <button type="submit">submit</button>
    </form>

</section>
</html>