<!DOCTYPE html>
<html lang="en" th:replace="dummy_admins/admin_base::base_fragment(~{::section})">
<section class="all_categories_container">
    <a th:href="@{add-user}" class="add-categories-btn"> Add Users</a>
    <div class="all_categories_list">
        <h1>All Users</h1>
        <table class="all_categories_table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, iStat : ${users}">
                <td th:text="${iStat.index + 1}">##</td>
                <td th:text="${user.username}">####</td>
                <td>
                    <span th:each="role : ${user.roles}" th:text="${role.roleValue}">####</span>
                </td>

                <td>
                    <a href="#" th:href="@{delete-user/{id}(id = ${user.id})}" class="add-categories-btn">Delete</a>
                </td>
                <td>
                    <a href="#" th:href="@{update-user/{id}(id = ${user.id})}" class="add-categories-btn">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>