<!DOCTYPE html>
<html lang="en" th:replace="dummy_admins/admin_base::base_fragment(~{::section})">
<section class="all_categories_container">
    <a th:href="@{add-products}" class="add-categories-btn"> Add products</a>
    <div class="all_categories_list">
        <h1>All products</h1>
        <table class="all_categories_table">
            <thead>
            <tr>
                <th>ID</th>
                <th>products Name</th>
                <th>Category</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product, iStat : ${products}">
                <td th:text="${iStat.index + 1}">##</td>
                <td th:text="${product.name}">####</td>
                <td th:text="${product.category.name}">####</td>
                <td>
                    <a href="#" th:href="@{delete-product/{id}(id = ${product.id})}"
                       class="add-categories-btn">Delete</a>
                </td>
                <td>
                    <a href="#" th:href="@{update-product/{id}(id = ${product.id})}"
                       class="add-categories-btn">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>